table#bestimmungswoertern td, table#bestimmungswoertern th {
  width: 20%;
}
table#pronomen td, table#pronomen th {
  width: 8.3333%; /* 1/12th */
}
table#pronomen th:first-child {
  width: 16.6666%; /* 2/12ths */
}
td.es          { background-color: #fdfdb4; } /* yellow       */
td.essen       { background-color: #e4f6af; } /* green-yellow */
td.en, td.enen { background-color: #aaeeaa; } /* green        */
td.eren        { background-color: #aaddee; } /* teal         */
td.er          { background-color: #aac6ee; } /* blue         */
td.em          { background-color: #d7aaee; } /* purple       */
td.e           { background-color: #fdb4b4; } /* red          */
td.as          { background-color: #fde0b4; } /* orange       */
