table#konjugation td, table#konjugation th {
  width: 12%;
}
table#konjugation td:first-child, table#konjugation th:first-child {
  width: 16%;
}
table#hilfsverben td, table#hilfsverben th {
  width: 12.5%; /* 1/8th */
}
td.st, td.est, td.test { background-color: #fdfdb4; } /* yellow       */ 
/*                     { background-color: #e4f6af; } /* green-yellow */
td.en, td.ten          { background-color: #aaeeaa; } /* green        */
/*                     { background-color: #aaddee; } /* teal         */
td.t, td.et, td.tet    { background-color: #aac6ee; } /* blue         */ 
td.ge                  { background-color: #d7aaee; } /* purple       */
td.e, td.te            { background-color: #fdb4b4; } /* red          */
td.end                 { background-color: #fde0b4; } /* orange       */
