table#praeposition td {
    width: 22.5%;
}
table#praeposition th {
    width: 10%;
}
table#praeposition tbody tr:first-child th {
    text-align:center;
}
table#praeposition tbody#akkusativ-dativ th {
    vertical-align: middle;
}
td.es          { background-color: #fdfdb4; } /* yellow       */
/*td.essen       { background-color: #e4f6af; } /* green-yellow */
td.en          { background-color: #aaeeaa; } /* green        */
/* td.eren        { background-color: #aaddee; } /* teal         */
td.er          { background-color: #aac6ee; } /* blue         */
td.em          { background-color: #d7aaee; } /* purple       */
td.e           { background-color: #fdb4b4; } /* red          */
td.as          { background-color: #fde0b4; } /* orange       */
